#cloud-config
autoinstall:
  version: 1
  locale: {{ UbuntuOSLocale }}
  keyboard:
    layout: {{ UbuntuOSKeyboardLayout }}
    variant: {{ UbuntuOSKeyboardVariant }}
  storage:
  layout:
    name: lvm
  identity:
    hostname: {{ UbuntuOSHostname }}.{{ UbuntuOSSearchDomain }}
    username: {{ UbuntuOSUser }}
    password: "$6$ryx4qBcSL3V1qKaU$UVKN5KO0gwjUqha0OQkGX8CL/Dbp3NCPo52vEvXO1/2s3NkFcvw540HPWc1g6/7UFEmYEbeRXFdttuguFsvj00"
  ssh:
    install-server: yes
    authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDTQRu5tSCyq9pq1/i9zAXEQtko1yiC9qXuFd+qUczYzKKgDUOPgf7ozwYuhe2X7kRkVz1ltB6NUakqgC0lqud+v9w87xAv+xRy4YlY0TmVOh9sejZQxoykwonZwnn48c8KAw8T7TAX4kOA1/onvB3J3L0IH2saP+iNj1QnBIQ2PaNLGagN0Q60M2X6BuFTc18aMWTbsaKp7Jlzr4Wt7Phhq34ukTr4ztWjfgRdPNJB4ESlbx1DjAacjOeR9B8MNqCRsktkuYhgTZfDAF5LBdQOrnjQMWBE8Fzk0WanyH3tnDXsZwUWp6979BkNf/bYADMElTtscQUMr7WnN87xPASb root@control.example.com
    allow-pw: no
  late-commands:
    - echo '{{ UbuntuOSUser }} ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/ibm # Allow user to run sudo without password
   
